html,
body {
  width: 100%;
}

body {
  background: #eee;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  //padding-top: 3rem;
  //height: calc(100% - 3rem);
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  background: hsl(331, 74%, 30%);
  width: 100%;

  ul {
    list-style: none;
    display: flex;

    li {
      display: flex;
      align-items: center;

      &:first-child {
        margin-right: auto;
      }

      a {
        color: #fff;
        text-decoration: none;
        padding: 0 1rem;
        height: 3rem;
        line-height: 3rem;

        &:hover {
          background: hsl(331, 74%, 20%);
        }
      }
    }
  }
}

h1 {
  font-family: Arial;
  margin-bottom: 1rem;
}

.scrollbar-wrap {
  overflow-x: auto;
  width: 100%;
  position: fixed;
  bottom: 0;

  #scrollbar {
    height: 17px;
  }
}

pre {
  //margin: 1rem;
  padding: .5rem;
  font-size: 14px;
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  background: #fafafa !important;
}

main {
  padding: 1rem;
  padding-bottom: 0;
  flex-direction: column;

  #form {
    display: flex;

    textarea {
      display: block;
      width: 100%;
      font-size: 1rem;
      font-size: 14px;
      font-family: 'Courier New', Courier, monospace;
      padding: 1rem;
      border: 1px solid #ccc;
      border-right: none;
      box-sizing: border-box;
      resize: none;
      line-height: 1.5;
      outline: none;
    
      &:focus {
        border-color: #0074D9;
      }
    }
    
    button {
      background: hsl(208, 100%, 43%);
      border: none;
      color: #fff;
      font-weight: bold;
      padding: 1rem;
      cursor: default;
      outline: none;
    
      &:hover {
        background: hsl(208, 100%, 33%);
      }
    }
  }
}

#results {
  overflow-x: auto;
  width: 100%;

  .message-error {
    background: #FF4136;
    color: #fff;
    margin: 1rem;
    font-size: 14px;
    padding: 1rem;
  }

  table {
    border-collapse: collapse;
    max-width: 100%;
    background: #fff;
    margin-top: 1rem;
    margin: 1rem;

    tr {
      th,
      td {
        padding: .25rem .5rem;
        border: 1px solid #ddd;
        white-space: pre;
        font-size: 14px;
      }

      th {
        text-align: left;
        background: #cadcec;
        border: 1px solid rgba(0,0,0,0.1);
        font-weight: normal;
        padding: .75rem .5rem;
      }

      &:nth-child(odd) {
        td {
          background: #f7f7f7;
        }
      }
    }
  }
}