html,
body {
  width: 100%;
}

body {
  background: #eee;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  background: hsl(331, 74%, 30%);
  width: 100%;

  ul {
    list-style: none;
    display: flex;

    li {
      display: flex;
      align-items: center;

      &:first-child {
        margin-right: auto;
      }

      a {
        color: #fff;
        text-decoration: none;
        padding: 0 1rem;
        height: 3rem;
        line-height: 3rem;

        &:hover {
          background: hsl(331, 74%, 20%);
        }
      }
    }
  }
}

h1 {
  font-family: Arial;
  margin-bottom: 1rem;
}

.scrollbar-wrap {
  overflow-x: auto;
  width: 100%;
  position: fixed;
  bottom: 0;

  #scrollbar {
    height: 17px;
  }
}

pre {
  padding: .5rem;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  background: #fafafa !important;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}

main {
  padding: 1rem;
  padding-bottom: 0;
  flex-direction: column;

  #form {
    display: flex;

    textarea {
      display: block;
      width: 100%;
      font-size: 1rem;
      font-size: 14px;
      font-family: 'Courier New', Courier, monospace;
      padding: 1rem;
      border: 1px solid #ccc;
      border-right: none;
      box-sizing: border-box;
      resize: none;
      line-height: 1.5;
      outline: none;
      border-radius: .25rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    
      &:focus {
        border-color: #0074D9;
      }
    }
    
    .button {
      background: hsl(208, 100%, 43%);
      border: none;
      color: #fff;
      font-weight: bold;
      padding: 1rem;
      cursor: default;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: .25rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      img {
        display: block;
      }

      .loading {
        display: none;
        animation: rotation 2s infinite linear;
      }

      &[data-loading] {
        .loading {
          display: block;
        }
        .default {
          display: none;
        }
      }
    
      &:hover {
        background: hsl(208, 100%, 33%);
      }
    }
  }
}

#results {
  padding: 1rem;
  padding-bottom: 2rem;
}

#table {
  overflow-x: auto;
  overflow: hidden;
  width: 100%;
  border-radius: .25rem;

  table {
    border-collapse: collapse;
    max-width: 100%;
    background: #fff;

    tr {
      position: relative;

      th,
      td {
        padding: .25rem .5rem;
        border: 1px solid #ddd;
        font-size: 14px;

        overflow: hidden;
        text-overflow: ellipsis;

        .td {
          height: 20px;
          line-height: 20px;
          white-space: pre;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      th {
        text-align: left;
        background: #333;
        border: 1px solid #444;
        font-weight: normal;
        padding: .75rem .5rem;
        color: #ccc;
      }

      &:nth-child(odd) {
        td {
          background: #f7f7f7;
        }
      }
    }
  }
}

.meta {
  display: flex;
  margin-bottom: 1rem;

  details {
    width: 50%;
    margin-right: 1rem;

    summary {
      background: #ddd;
      padding: 1rem;
      flex: 1;
      cursor: default;
      border-radius: .25rem;
  
      &:focus {
        outline: none;
      }
    }
  }

  .found-rows {
    flex: 1;
    border: 2px solid #ddd;
    padding: 1rem;
    border-radius: .25rem;
  }
}

.message-error {
  background: #FF4136;
  color: #fff;
  margin: 1rem;
  font-size: 14px;
  padding: 1rem;
}